default_language_version:
  python: "3.13"
repos:
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.0.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-ast
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/crate-ci/typos
    rev: v1.30.3
    hooks:
      - id: typos
  - repo: https://github.com/ComPWA/taplo-pre-commit
    rev: v0.9.3
    hooks:
      - id: taplo-format
        exclude: "uv.lock"
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        language: system
        entry: uv run --all-groups ruff check --fix
        types: [python]
      - id: ruff-format
        name: ruff-format
        language: system
        entry: uv run --all-groups ruff format
        types: [python]
      - id: pyright
        name: pyright
        language: system
        entry: uv run --all-groups basedpyright --level error
        types: [python]
